
body{

     padding: 30px;

}

/*div{*/
/*    background: url("http://iv1.lisimg.com/image/2776852/600full-john-coltrane.jpg");*/
/*    background-repeat: no-repeat;*/
/*    background-size: 100px;*/
/*    width: 1000;*/
/*    height: 750;*/
/*    opacity: .3;*/



/*}*/



.bgimg {
   position: relative;
}
.bgimg:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("http://iv1.lisimg.com/image/2776852/600full-john-coltrane.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    opacity : 0.2;
    z-index: -1;

}
.jumbotron{
    /*padding: 100px;*/
    /*padding-bottom: 100px;*/
    background-color: rgba(20,0,15,.5);
    /*background-color: black;*/
    text-align:  center;
    color: white;
    opacity: .7;
}
.jumbotron img{
    float: right;
}

img.miles{
    float: right;
}

.navy img{
    /*background-image: url("https://upload.wikimedia.org/wikipedia/commons/b/b4/U.S._Naval_Reserve_portrait_of_Johnny_Coltrane_edit.jpg");*/
    float: right;
    width: 150px;
    height: 150px;
    /*size: 150px 150px;*/
    /*background-color: black;*/
}

#column1{
    padding-left: 20px;
    /*margin: 10px;*/
}
.intro{
    padding: 20px;
}

