
body{

     padding: 30px;

}

/*div{*/
/*    background: url("http://iv1.lisimg.com/image/2776852/600full-john-coltrane.jpg");*/
/*    background-repeat: no-repeat;*/
/*    background-size: 100px;*/
/*    width: 1000;*/
/*    height: 750;*/
/*    opacity: .3;*/

/*http://d29ci68ykuu27r.cloudfront.net/product/Look-Inside/large/2960418_01.jpg*/

/*}*/




.bgimg {
   position: relative;
}
.bgimg:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("http://iv1.lisimg.com/image/2776852/600full-john-coltrane.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    opacity : 0.2;
    z-index: -1;

}
.jumbotron{
    /*padding: 100px;*/
    /*padding-bottom: 100px;*/
    background-color: rgba(20,0,15,.5);
    /*background-color: black;*/
    text-align:  center;
    color: white;
    opacity: .7;
}
.jumbotron img{
    float: left;
    width: 220px;
    height: 300px;
    padding-bottom: 80px;
}

img.miles{
    float: right;
}

.navy img{
    /*background-image: url("https://upload.wikimedia.org/wikipedia/commons/b/b4/U.S._Naval_Reserve_portrait_of_Johnny_Coltrane_edit.jpg");*/
    float: right;
    width: 140px;
    height: 150px;
    /*size: 150px 150px;*/
    /*background-color: black;*/
}
.milecol img{
    float: left;
    width: 150px;
    height: 200px;
}

#column1{
    padding-left: 20px;
    /*margin: 10px;*/
}
.intro{
    padding: 20px;
}

/*.bodyimg{
        content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("http://d29ci68ykuu27r.cloudfront.net/product/Look-Inside/large/2960418_01.jpg"); 
    background-repeat: repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    opacity : 0.1;
    z-index: -1;

}*/